/* feel free to use this page to style, or link your own stylesheet

You can start at the next comment   */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
body{
    width:100%;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica';
    font-size: 10.5pt;
}

nav{
    height: 44px;
    background: #000;
    position:fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.menu{
    position: relative;
    margin: 0 auto;
    width: 1000px;
    overflow: hidden;
}

.menu ul{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.menu ul li{
    list-style: none;
}

.menu ul li, .menu ul li a{
    color: #fff;
    line-height: 44px;
    text-decoration: none;
}

.menu ul li .fab.fa-apple{
    font-size: 20px;
}

.menu ul li a.menu-item{
    transform: scale(1);
    transition: 0.5s;
    display: block;
}

.menu ul li a.menu-item.hide-item{
    transform: scale(0);
}

.menu ul li:nth-child(2) a.menu-item.hide-item{
    transition-delay: 0.6s;
}
.menu ul li:nth-child(3) a.menu-item.hide-item{
    transition-delay: 0.5s;
}
.menu ul li:nth-child(4) a.menu-item.hide-item{
    transition-delay: 0.4s;
}
.menu ul li:nth-child(5) a.menu-item.hide-item{
    transition-delay: 0.3s;
}
.menu ul li:nth-child(6) a.menu-item.hide-item{
    transition-delay: 0.2s;
}
.menu ul li:nth-child(7) a.menu-item.hide-item{
    transition-delay: 0.1s;
}
.menu ul li:nth-child(8) a.menu-item.hide-item{
    transition-delay: 0.0s;
}




.menu ul li:nth-child(2) a.menu-item{
    transition-delay: 0s;
}
.menu ul li:nth-child(3) a.menu-item{
    transition-delay: 0.1s;
}
.menu ul li:nth-child(4) a.menu-item{
    transition-delay: 0.2s;
}
.menu ul li:nth-child(5) a.menu-item{
    transition-delay: 0.3s;
}
.menu ul li:nth-child(6) a.menu-item{
    transition-delay: 0.4s;
}
.menu ul li:nth-child(7) a.menu-item{
    transition-delay: 0.5s;
}
.menu ul li:nth-child(8) a.menu-item{
    transition-delay: 0.6s;
}


.search-form{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-30%);
    width: 600px;
    height: 44px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.search-form.active{
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s ;
} 

.search-form input{
    width: 100%;
    height: 44px;
    background: transparent;
    color: #fff;
    border: none;
    outline: none;
    font-size: 16px;
}

.search-form input::placeholder{
    color: #fff;
}

.search-form::before{
    font-family: 'Font Awesome\ 5 Free';
    content: '\f002';
    position: absolute;
    top: 12px;
    left: -26px;
    font-size: 16px;
    color: #fff;
    font-weight: 510;
}

.close{
    position: absolute;
    right: 0;
    top: 0;
    height: 44px;
    background: #000;
    color: #fff;
    line-height: 44px;
    font-size: 18px;
    text-align: right;
    width: 20px;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
}

.close.active{
    opacity: 1;
    visibility: visible;
}

.shadow{
    position: fixed;
    z-index: 10;
    top: 43px;
    left: 0;
    bottom: 0;
    right: 0;
    background-color:rgba(0,0,0,.8);
    visibility: hidden;
    z-index: 9;

}
.shadow.active{
    visibility: visible;
}

.item-container{
    padding-top: 100px;
    padding-bottom: 30px;
    position: absolute;
    left: 13%;
}
.searchimg{
    width: 100px;
}

.item-box{
    padding-bottom: 20px;
    padding-right: 140px;
    display: inline;
}

.item-box-items{
    padding: 20px 50px 20px 50px;
    text-align: center;
}

.card{
    margin-right: 0;
}

/*  You can begin here */
.icontent{
    text-align: center;
}
.content{
    position: relative;
    top: 40px;
}
#notice, #notice a{
    background-color: #f5f5f7;
    line-height: 44px;
    text-decoration: none;
}

#notice a {
    color:#0066cc;
}

#ipadpro{
    background-color:black;
    color:white;
    margin:0px;
}

#ipadpro a, #ipadpro a:hover{
    color:#2997ff;
}

#ipadpro a:hover{
    text-decoration: underline;
}

#iphone12{
    background-color:#efe5fe;
}
#imac{
    background-color:#fafafa;
}

.spread{
    /*height:691px;*/

    margin: 12px 0px;
    overflow-x: hidden;

}

.spread .title {
    line-height:50px;
    padding-top: 55px;
    padding-bottom: 0px;
    margin: 0px;
    font-size: 50px;
    font-weight: bold;
    /*transform: scaleY(1.075)*/
}

.spread .subtitle{
    font-size: 27px;
}

.spread .caption{
    font-size: 17px;
    color: grey;
}

.spread .homelink{
    font-size: 20px;
    padding: 0px 15px;
    text-decoration:none;
    color:#0066cc;
}

.spread .homelink:hover, #notice a:hover{
    text-decoration: underline;
    color:#0066cc;
}

.spread img{
    width:100%;
    max-width: 1106px;
    min-width: 1000px;
    margin-top: 25px;
    margin-bottom: 40px;
}

#ipadpropic{
    position: relative;
    top: 00px;
}

#itemimg{
    width: 150px;
}

/* CART PAGE */

.products-container{
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
}

.products-container i{
    font-size: 25px;
    color: blue;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}


.product-header{
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgray;
    margin: 0 auto;
}

.product-title{
    width: 45%;
}

.price{
    width: 15%;

    display: flex;
    align-items: center;
}

.quantity{
    width: 30%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.total{
    width: 10%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;

}

.product{
    width: 45%;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

.products{
    width: 100%;
    position: relative;
    left: 27%;
}

.products img{
    width: 75px;
}
span{
    margin-right: 35%;
    max-width: 500px;
}